.main0{
    text-align: center;
    margin: 10px;
}
.main0 h1,.main1 h2{
    font-size:20px;
}
.main1{
    margin: 14px;
}
.main1 .imgs{
    margin: auto;
    text-align: center;
}
.main1 ul{
    list-style: none;
}
.main1 .imgs img{
    width: 90%;
}
.main3,.main5{
    display: flex;
    flex-direction: column-reverse;
}
@media only screen and (min-width:450px){
    .main1 .imgs img{
        width:400px;
    }
}
@media only screen and (min-width:700px){
    .main1{
        margin: 20px;
    }
    .main2,.main4{
        display: grid;
        grid-template-columns:3fr 2fr;
        grid-column-gap: 5px;
    }
    .main3,.main5{
        display: grid;
        grid-template-columns:2fr 3fr;
        grid-column-gap:5px;
    }
    .main1 .imgs img{
        width:90%;
        height: auto;
    }
    .main4 .txt{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}